@{
    ViewData["Title"] = "Hub";
}

@section head {
    <link href="@Url.Content("~/css/home_stylesheet.css")" rel="stylesheet" type="text/css" />
}

<div class="container">
    <div>
        <h1 class="display-1">Project Hamilton</h1>
        <div class="card-deck">
            <div class="card" id="seccion_crear_hub">
                <div class="card-body">
                    <h1 class="card-title">Profesores</h1>
                    <div>
                        <p>Crea un hub para tu clase.</p>
                        <p id="hubCode"></p>
                        <button type="button" class="btn btn-primary" id="crear_hub" onclick="createHub()">
                            Crear hub
                        </button>
                        <button type="button" disabled class="btn btn-primary" id="iniciar_juego" onclick="startGame()">
                            Iniciar juego
                        </button>
                    </div>
                    <p></p>
                </div>
            </div>
            <div class="card" id="seccion_unir_hub">
                <div class="card-body">
                    <h1 class="card-title">Alumnos</h1>
                    <p>Conectate al lobby de tu profesor.</p>
                    <a type="button" class="btn btn-primary" id="unir_hub" href="./game/index.html" role="button">Unirse</a>
                </div>
            </div>
        </div>
        <script>
            var hubCodeContainer = document.getElementById("hubCode");
            var startGameButton = document.getElementById("iniciar_juego");
            var createLobbyButton = document.getElementById("crear_hub");

            function createHub() {
                fetch('/Teacher/CreateLobby', { method: 'POST' })
                    .then((response) => response.json())
                    .then(function (data) {
                        hubCodeContainer.innerHTML = data.code || "";

                        startGameButton.disabled = false;
                        createLobbyButton.disabled = true;
                    })
                    .then(function (error) {
                        console.error(error);
                    });
            }

            function startGame() {
                fetch('/Teacher/StartGame',
                    {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ lobbyCode: hubCodeContainer.innerHTML })
                    }
                ).then((response) => {
                    if (response.ok) {
                        alert("Ha iniciado el juego");
                    }
                });
            }
        </script>
    </div>
</div>