@{
    ViewData["Title"] = "Hub";
}

    <div>
        <div>
            <h1>Profesores</h1>
            <div>
                <p>Crea un hub para tu clase.</p>
                <button onclick="">Crear hub</button>
            </div>
            <p></p>
        </div>
        <div>
            <h1>Alumnos</h1>
            <p>Conectate al lobby de tu profesor.</p>
            <input type="text" id="passedLobbyCode"/>
            <button onclick="">Unirse</button>
        </div>
    </div>