@{
    ViewData["Title"] = "Hub";
}

@section Styles {
    <link href="@Url.Content("~/css/home_stylesheet.css")" rel="stylesheet" type="text/css" />
}

<div class="container">
    <div>
        <h1 class="display-1">Project Hamilton</h1>
        <div class="card-deck">
            <div class="card" id="seccion_crear_hub">
                <div class="card-body">
                    <h1 class="card-title">Profesores</h1>
                    <div>
                        <p>Crea un hub para tu clase.</p>
                        <p id="hubCode"></p>
                        <button type="button" class="btn btn-primary" id="crear_hub" onclick="createHub()">
                            Crear hub
                        </button>
                        <button type="button" class="btn btn-primary" id="crear_hub" onclick="createHub()">
                            Iniciar juego
                        </button>
                    </div>
                    <p></p>
                </div>
            </div>
            <div class="card" id="seccion_unir_hub">
                <div class="card-body">
                    <h1 class="card-title">Alumnos</h1>
                    <p>Conectate al lobby de tu profesor.</p>
                    <a type="button" class="btn btn-primary" id="unir_hub" href="./game/index.html" role="button">Unirse</a>
                </div>
            </div>
        </div>
        <script>
            var hubCodeContainer = document.getElementById("hubCode");

            function createHub() {
                fetch('/Teacher/CreateLobby', { method: 'POST' })
                    .then((response) => response.json())
                    .then(function (data) {
                        hubCodeContainer.innerHTML = data.code || "";
                    })
                    .then(function (error) {
                        console.error(error);
                    });
            }
        </script>
    </div>
</div>