@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="max_width_column">
        <h1 class="display-3">El terror en la mansión</h1>
        <p class="spacingOnTop">
            El siguiente videojuego ha sido desarrollado como parte de un proyecto académico del desarrollo de un videojuego para la enseñanza de programación.
            Por esta razón, la presente implementación se encarga de recolectar datos de las diferentes acciones
            de los jugadores, y su desempeño durante el aprendizaje que ocurre en cada partida.
            Estos datos son almacenados en un servidor externo, donde posteriormente serán anonimizados,
            analizados y posiblemente serán publicados.
        </p>
    </div>

    <a type="button" class="btn btn-primary btn-lg" asp-controller="Teacher">Ir a juego</a>
}
